.git
.gitignore
.dockerignore
.github
.prettierignore
.prettierrc.json
.DS_Store
.docker
node_modules
coverage
Dockerfile
Dockerfile.dev
docker-compose-dev.yml
docker-compose-prod.yml
heroku.yml
README.md

# this file contains all the ENVs necessary for the api
create_docker_image.sh

# Python cache
**/__pycache__/