/* SCSS RGB */
// source: https://coolors.co/u/sven_gerlach
$black-coral: rgba(73, 88, 103, 1);
$blue-yonder: rgba(87, 115, 153, 1);
$beau-blue: rgba(189, 213, 234, 1);
$ghost-white: rgba(247, 247, 255, 1);
$orange-red-crayola: rgba(254, 95, 85, 1);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-origin: border-box;
  background-image: url("assets/img/car_grey.png");
  background-color: $blue-yonder;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
